html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.content {
  display: flex;
}

.row.nav {
  display: inline;
  p {
    display: inline-block;
    float: left;
  }
}

.main-content {
  flex-basis: 70%;
  vertical-align: bottom;
  padding-right: 40px;
  float: left;
  margin: 0;
}

.sidebar {
  padding: 10px 20px;
  margin: 0;
  background-color: white;
  border-radius: 5px;
    h5 {
      margin-bottom: 0.3em;
    }

    .btn {
      margin-top: 30px;
      text-align: center;
      padding: 10px;
    }

    hr {
      color: blue;
    }
}
