html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.content {
  display: flex;
}

.row.nav {
  display: inline;
  p {
    display: inline-block;
    float: left;
  }
}

i {
  color: #485D75;
  display: inline-block;
}

h6 {
  background-color: #485D75;
  color: white;
  display: inline-block;
  padding: 2px 20px;
}

#address {
  display: inline;
  margin-left: 5px;
}

.main-content {
  flex-basis: 70%;
  vertical-align: bottom;
  padding-right: 40px;
  float: left;
  margin: 0;
}

.sidebar__inner .is-affixed {
  background-color: none;
}

.inner-wrapper-sticky {
  padding: 10px 20px 20px 20px;
  margin: 0;
  background-color: white;
  width: 20em;
  box-shadow: 0.5px 1px 1px #888888;
}

.sidebar__inner {
  border-radius: 5px;
    h5 {
      margin-bottom: 0.3em;
    }

    .btn {
      margin-top: 30px;
      text-align: center;
      padding: 10px;
    }

    hr {
      color: blue;
    }
}
