<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('../../assets/images/banner_graffiti.jpg');">
  <div class="banner-content">
    <h1>Give your kids freedom</h1>
    <p>Workshops, courses and summer camps in music, coding, arts and sports</p>
    <%= button_to "SEARCH COURSES", courses_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
