// Your footer style

.wrapper {
  min-height: calc(100vh-80px);
}

.footer {
  background-color: grey;
  margin-top: 40px;
  padding: 10px;
  li {
      float: left;
      list-style: none;
      padding: 0 10px;
      font-size: 14px;
      color: white;
  }

  a {
    color: white;
  }

  p {
    color: white;
    font-size: 18px;
    display: block;
  }
}


